// Header
.main-menu {
    padding: 10px 0;
    width: 100%;
    z-index: 9;
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        padding: 0;
    }
    .navbar-toggler {
        padding: 0;
        border: none;
    }
    .navbar-nav {
        gap: 1rem;
        /* ----- Max Width 767px ----- */
        @media (max-width: $break-767) {
            gap: 0.5rem;
        }
        .nav-item {
            .nav-link {
                text-transform: capitalize;
                color: $clr-333333;
                font-weight: 500;
                letter-spacing: 1px;
                padding: 10px 15px;

                /* ----- Max Width 767px ----- */
                @media (max-width: $break-767) {
                }
                &:hover {
                    color: $clr-0773bb;
                }
            }
            &.active {
                .nav-link {
                    color: $clr-0773bb;
                }
            }
        }
    }
    .navbar-collapse {
        /* ----- Max Width 767px ----- */
        @media (max-width: $break-767) {
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 99;
            width: calc(100% + 30px);
            padding: 10px;
            margin: 0 -15px;
            background-color: $white-clr;
            box-shadow: 0px 4px 10px rgba($black-clr, 0.2);
        }
    }
    // Fixed Menu
    &.fixed_menu {
        position: fixed;
        background-color: $white-clr;
        box-shadow: 0px 4px 10px rgba($black-clr, 0.2);
        top: 0;
        left: 0;
    }
}
