// Font
$base-fz: 15px !default;
$primary-ff: "Rubik", sans-serif;

// Color
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;
$clr-333333: #333333;
$clr-1a1a1a: #1a1a1a;
$clr-999999: #999999;
$clr-0773bb: #0773bb;
$clr-c22329: #c22329;
$clr-262139: #262139;

// Media Queries
$break-1280: 1280px;
$break-1240: 1240px;
$break-1080: 1080px;
$break-1024: 1024px;
$break-991: 991px;
$break-850: 850px;
$break-767: 767px;
